@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p >Tu tienda Favorita donde tenmos las 3 B's</p>
    <p>BUENO</p>
    <p>BONITO</p>
    <p>BARATO</p>
</div>

